
<header class="header">

    <h1 id="title">
        <strong>the</strong> Mango...SCRAPER</h1>
   
</header>


<form method="POST" action="/scrape">
<div class="scrapeBtn">
    <button type="submit" class="btn btn-dark btn-block btn-lg" id="scrapeBtn" data-toggle="modal" data-target="#scrapeModal">SCRAPE!</button>
</div>
</form>

<br><br>

<div class="cardDisplay">
    {{#each results}} {{#if summary}}


    <div class="card" style="width: 18rem;">
        
        <div class="card-body">
            <a href="{{URL}}">
                <h5 class="card-title">{{title}}</h5>
            </a>
            <p class="card-text">{{summary}}</p>
            {{#if saved}}
            <button id="saveBtn" disabled="true" data-id="{{@index}}" class="btn btn-dark"><em>Saved!</em></button>
            {{else}}
            <button id="saveBtn" data-id="{{@index}}" class="btn btn-dark">Save Article</button>
        {{/if}}
        </div>
    </div>

    <hr> --}} {{/if}} {{/each}}
</div>


<div class="modal fade" id="scrapeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h1>Scraping mangos...</h1>
               
            </div>
        </div>
    </div>
</div>

